@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 3956px;
    background-color: #FCFFF5;
}

.Section1{
    width: 100%;
    height: 817px;
}

.nav{
    position: relative;
    background-color: #FCFFF5;
    width: 100%;
    height: 86px;
    
}

.logo-nav{
    position: absolute;
    top:19px;
    left: 105px;
}

.connect-button{
    position: absolute;
    width: 188px;
    height: 34px;
    background-color: #F8FFE5;
    border: 2px solid #C4C4C4;
    top: 27px;
    right: 102px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
    justify-content: center;

    align-items: center;
}

    .connect-text{
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;

    }

.weeding-back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.Content-S1{
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 634px; 
    background-color: none ;
}

.Transparency-S1{
    position: absolute;
    display: flex;
    width: 100%;
    height: 634px;
    background-color: #DBDCDA ;
    opacity: 0.84;
    z-index: -1;
}

.Title-s1{
    position: absolute;
    left: 105px;
    top: 128px;
    font-size: 63px;
    font-family: 'Satisfy', cursive;
    line-height: 1.2;
    font-weight: 100;
    color: #01261D;
}


.connect-button2{
    position: absolute;
    width: 482px;
    height: 68px;
    background-color: #F8FFE5;
    top: 465px;
    left: 105px;
    border-radius: 12px;
   
    display: flex;
    justify-content: center;

    align-items: center;
}

    .connect-text2{
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        color: #4B503D;

    }

    .img1S1{
        position: absolute;
        right: 437px;
        top: 60px;
    }

    .img2S1{
        position: absolute;
        right: 200px;
        top: 236px;
    }
    .leaves{
        position: absolute;
        right: 0px;
        top: 356px;
        z-index: -1;
    }

    /*Section 2*/
    .Section-2{
        position: relative;
        width: 100%;
        height: 634px;
    }

    .context2-H{
        position: absolute;
        width: 734px;
        height: 210px;
        top: 13px;
        left: 513px;

        display: flex;

    }

    .S2-h1{
        position: absolute;
        font-size: 62px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }
    .S2-p1{
        position: absolute;
        top: 130px;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: bold;
    }

    .S2-p2{
        position: absolute;
        top: 170px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 100;
    }

    .play-Square{
        position: relative;
        background-color: #3C555B;
        width: 335px;
        height: 593px;
        left: 105px;
        top: 13px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .triangle-play{
        position: absolute;
        width: 35px;
        height: 35px;
        background-color: #92A0A3;
        border-top-right-radius: 34%;
        transform: rotate(-60deg) skewX(-30deg) scale(1, .866);

    }

    .triangle-play::before,
    .triangle-play::after {
        content: "";
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: inherit;
        border-top-right-radius: inherit;
    }

    .triangle-play::before {
        background-color: #92A0A3;
        transform: rotate(-135deg)
        skewX(-45deg) scale(1.414, .707) translateY(-50%);
    }

    .triangle-play::after {
        background-color: #92A0A3;
        transform: rotate(135deg)
        skewY(-45deg) scale(.707, 1.414) translateX(50%);
    }

    .triangle-box{
        position: relative;
        width: 45px;
        height: 50px;
        rotate: 90deg;
        
    }


    .options-S2{
        position: absolute;
        display: flex;
        width: 900px;
        height: 178px;
        left: 513px;
        top: 257px;

        gap: 50px;

    }

    .card-S2{
        position: relative;
        height: 100%;
        width: 230px;
        display: inline-block;

        display: flex;
        justify-content: center;

    }

    .p-card-S2{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        bottom: 0;
       
    }


    .form-S2{
        position: absolute;
        width: 95px;
        height: 90px;
        border-radius:68% 32% 38% 62% / 51% 51% 49% 49%;
        background-color: #CBD5AE;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .form-S2 p{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        font-size: 60px;
        font-weight: normal;
        color: #4B503D;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .bottom-S2{
        position: absolute;
        width: 813px;
        height: 118px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        top: 488px;
        left: 513px;
    }

    .bottom-S2 p{
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: normal;
        color: #4B503D;
        top: 50%;
        transform: translateY(-50%);
    }


    .Section-3{
    position: relative;
    width: 100%;
    height: 2392px;
    background-color: blue;
}

.S3-Title{
position: relative;
width: 100%;
height: 168px;
background-color: #FCFFF5 ;

display: flex;
justify-content: center;

h1{
    position: absolute;
    font-size: 73px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #4B503D;
    bottom: 0px;

}

}

.Menu{
position: relative;
width: 100%;
height: 2262px;
background-color: aqua;


}

.S3-Nunta{
    width: 100%;
    height: 754px;
    background-color: #363f21 ;
} 
